
        body {
            background-color: azure;
            margin: 0;
            padding: 400px;
        }

        .hasib-box {
            padding: 50px;
            background-color: rgb(200, 212, 215);
        }  